body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#map_canvas { 
	height: 200px; 
}
	  
.feelingsarea{		
	width:450px;
}

.no-display{
	display:none;
}

div.inline { 
	display:inline-block;
}
.clearBoth { 
	clear:both; 
}